:root {
  --background: #f0f0f0;
  --background-card:  #f5f5f5;
  --background-unselected-card:#e1e1e1;
  --text: #212121;
  --text-secondary: #757575;
  --color-shadow: #e1e1e1;
}

[data-theme="dark"] {
  --background: #001f3d;
  --background-card: #002952;
  --background-unselected-card: #001a33;
  --text: #f5f5f5;
  --text-secondary: #bdbdbd;
  --color-shadow: #001a33;
}

html {
  scroll-behavior: smooth;
}

.app-container {
  background-color: var(--background);
  font-family: var(--font-family);
  overflow-x: hidden;
  transition: 0.5s ease-in-out;
  height: 100vh;
  padding: 0;
}

// @media only screen and (min-device-width: 280px) and (max-device-width: 1080px) {
//   .app-container::-webkit-scrollbar {
//     display: none;
//   }
// }

// ::-webkit-scrollbar {
//   background-color: #111111;
//   width: 0.2rem;
// }

// ::-webkit-scrollbar-thumb {
//   background-color: var(--orange);
// }
